body {
    font-family: Arial, sans-serif;
    scrollbar-width: none; /* Remove scrollbar for Firefox */
    color: black;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    height: 0; /* Remove scrollbar height */
}

.home p{
    margin-bottom: 0%;
    margin-right: 25%;
}

.tetelitems{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 25%;
}

h1{
    font-size: 70px;
    margin: 20px;
    color: white;
    font-weight:600;
}

h2{
    color: rgb(216, 47, 47);
    text-transform: uppercase;
}

h2, h3{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkblue;
}

.navbar {
    display: flex;
    justify-content: flex-start; /*change to center at mobile mode*/
    align-items: center;
    padding-bottom: 0px;
}

.nav-item {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 5% 40% 0% 0%;
    font-weight: bold;
    color: white;
}

.item1 {
    background-color: #c3b3ec; /* Red */
}

.item2 {
    background-color: #d3aeaa; /* Purple */
}

.item3 {
    background-color: #cde0b0; /* Green */
}

.nav-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.search-container input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

main{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer{
    background-color: rgb(34, 34, 73);
    height: 250px;
}

.listing{
    border: 1px black solid; 
    height: fit-content;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}
.listing li>*{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: dot;
}

.list-items{
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li{
    width: 280px;   /*fix later*/
    color: rgb(113, 152, 224);
    display: flex;
    flex-direction: row;
}

a, a:hover, a:active, a:visited{
    color: black;
    /* WHY DID YOU MAKE LINKS WHITE ON A WHITE BACKGROUND I WAS SO CONFUSED I THOUGHT IT WAS GONE */
    /*FYM I DID NOT DO THAT*/
    text-decoration: none;
}
li>a, li>a:hover, li>a:active, li>a:visited{
    color: rgb(76, 138, 255);
    flex-grow: 1;
    text-decoration: none;
}
.editbutton, .editbutton:hover, .editbutton:active, .editbutton:visited{
    flex-grow: 0;
    box-sizing: border-box;
    border: 2px rgb(76, 138, 255) solid;
    padding: 5px 15px;
}

/* TETEL DETAILS OLDAL */
.tetelpage main h1{
    color: black;
}

/* TETEL EDIT OLDAL */
.editform{
width: 70%;
margin: auto;
height: 100%;
}
.editform h3{
    text-align: center;
}
.editform .items{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.editform p{
    flex-grow: 2;
    text-align: right;
    max-width: 50%;
}
.editform label, .editform input, .editform textarea, .editform select{
    flex-grow: 1;
}
#tantargynew{
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}
.editform label{
    text-align: right;
}
.editform textarea{
 resize: vertical;   
}


@media (max-width: 768px) {

    .nav-item {
        margin: 5px 0;
    }

    .search-container {
        margin-top: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .listing{
        justify-content: center;
    }

    li{
        width: 100%;
    }
    .nav-item{
        margin-bottom: 0;
    }
}



@media (max-width: 768px) {

    .nav-item {
        margin: 5px 0;
    }

    .search-container {
        margin-top: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .listing{
        justify-content: center;
    }

    li{
        width: 100%;
    }
    .nav-item{
        margin-bottom: 0;
    }
}


/* TETEL ADD OLDAL */
.addform{
    width: 70%;
    margin: auto;
    text-align: center;
}
.addform textarea{
    width: 50%;
    min-width: 400px;
    height: 30vh;
    min-height: 100px;
}