body {
    font-family: Arial, sans-serif;
    color: black;
}

html {
    scrollbar-width: none;
  }

/* görgetés elrejtése webkit alapú böngészőkben (Chrome, Safari) */
body::-webkit-scrollbar {
    display: none;
}

.home p{
    margin-bottom: 0%;
    margin-right: 25%;
}

.tetelitems{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 25%;
}

h1{
    font-size: 70px;
    margin: 20px;
    color: white;
    font-weight:600;
}

h2{
    color: rgb(216, 47, 47);
    text-transform: uppercase;
}

h2, h3{
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: flex-start; /*change to center at mobile mode*/
    align-items: center;
    padding-bottom: 0px;
}

.nav-item {
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 5% 40% 0% 0%;
    font-weight: bold;
    color: white;
}

#item1 {
    background-color: #c3b3ec; /* Red */
}

#item2 {
    background-color: #d3aeaa; /* Purple */
}

#item3 {
    background-color: #cde0b0; /* Green */
}

.nav-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.search-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.search-container input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

main{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer{
    background-color: rgb(34, 34, 73);
    height: 500px;
}

.listing{
    border: 1px black solid; 
    height: fit-content;
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}
.listing li>*{
    text-align: center;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: dot;
    padding: 0;
}

.list-items{
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

li{
    min-width: 350px; /*fix later*/
    width: 25%;
    color: rgb(113, 152, 224);
    display: flex;
    margin-bottom: 15px;
    flex-direction: row;
}

a, a:hover, a:active, a:visited{
    color: white;
    /* WHY DID YOU MAKE LINKS WHITE ON A WHITE BACKGROUND I WAS SO CONFUSED I THOUGHT IT WAS GONE */
    /*FYM I DID NOT DO THAT*/
    text-decoration: none;
}
li>a, li>a:hover, li>a:active, li>a:visited{
    color: black;
    flex-grow: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a>p{
    margin-bottom: 0%;
    align-self: center;
}

.portrait {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.portrait_div {
    width: auto;
    height: 70%;
    aspect-ratio: 3 / 4;
}

.portrait_img {
    height: 100%;
    width: 100%;
    aspect-ratio: 3 / 4;
}

#devs{
    height: 10%;
    padding-top: 50px;
}

#devs h2{
    color: white;
}

figcaption{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.button, .button:hover, .button:active, .button:visited{
    flex-grow: 0;
    box-sizing: border-box;
    border: 2px rgb(102, 102, 105) solid;
    padding: 5px 15px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(101, 101, 160);
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* TETEL DETAILS OLDAL */
.tetelpage main h1{
    color: black;
}

/* TETEL EDIT OLDAL */
.editform{
width: 70%;
margin: auto;
height: 100%;
}
.editform h3{
    text-align: center;
}
.editform .items{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
.editform p{
    flex-grow: 2;
    text-align: right;
    max-width: 50%;
    word-wrap:break-word;
    hyphens: auto;
}
.editform label, .editform input, .editform textarea, .editform select{
    flex-grow: 1;
}
#tantargynew{
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
}
.editform label{
    text-align: right;
}
.editform textarea{
 resize: vertical;   
}


@media (max-width: 768px) {

    .nav-item {
        margin: 5px 0;
    }

    .search-container {
        margin-top: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .listing{
        justify-content: center;
    }

    .nav-item{
        margin-bottom: 0;
    }

    footer{
        height: fit-content
    }

    .portrait {
        flex-direction: column;
        height: 100% ;
        display: flex;
        justify-content: space-evenly;
    }

    .portrait_div {
        margin-top: 30px;
        height: 300px;
        width: 225px;
    }

    .portrait_div:last-child {
        margin-bottom: 30px;
    }
}


/* TETEL ADD OLDAL */
.addform{
    width: 70%;
    margin: auto;
    text-align: center;
}
.addform textarea{
    width: 50%;
    min-width: 400px;
    height: 30vh;
    min-height: 100px;
}